<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Chatbot</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="logoContainer"><img src="../static/public/assets/posidex_logo.png" alt="Logo" class="logo"></div>
        <!-- Add the logo image here -->
        <h1 class="title">Support Chatbotdsd</h1>
    </div>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Type your message here..." onkeypress="handleKeyPress(event)">
        <button onclick="sendMessage()">Send</button>   
    </div>
    <script src="../static/js/scripts.js"></script>
</body>

</html>